.body {
    background-color: #1b3b36;
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    
  }
  header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  ul li a {
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fffcf6;
    font-style: normal;
    margin: 1.3rem;
  }
  .menustyle {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .menutext {
    color: #fffcf6;
    margin: 1rem;
  }
  .phone {
    color: #fffcf6;
    margin: 1rem;
  }
  .heroscreen {
    background-color: #1b3b36;
  }

  .herotext {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 3rem;
  }
  .bank,
  .hotel {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 10rem;
  }
  .bank {
    color: #fffcf6;
    grid-column: 1/2;
  }
  .hotel {
    color: #fcd043;
    grid-column: 2/3;
  }
  .bankhotel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 15rem;
    height: 5rem;
    margin-left: 2rem;
  }
  .choose {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #fcd043;
    width: 45rem;
    height: 2rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  .since {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #fffcf6;
    font-size: 1.5rem;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid #fffcf6;
    width: 13rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    margin-top: 4rem;
  }
  .luxurious {
    grid-row: 2/3;
    grid-column: 2/3;
    color: #fffcf6;
    font-size: 1.2rem;
    width: 13rem;
    height: 4rem;
    margin-left: 5rem;
  }
  .button {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 70px;
    width: 80px;
    height: 80px;
    margin-right: 30%;
  }
  .labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 4rem;
  }
  .phone2 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 15rem;
    height: 2rem;
    color: #fcd043;
    margin-left: 2rem;
    font-size: 1.7rem;
    margin-top: 2rem;
  }
  .adress {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 25rem;
    height: 2rem;
    color: #fffcf6;
    margin-left: 2rem;
    font-size: 1.7rem;
    margin-top: 4rem;
  }
  .art {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 20rem;
    height: 3rem;
    color: #fffcf6;
    margin-left: 47rem;
    font-size: 1.7rem;
    word-break: break-all;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  .art2 {
    margin-left: 10rem;
    text-transform: uppercase;
  }
  .formimage {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    position: relative;
    width: 93%;
   height: 10%;
   margin-left: 1rem;
  }
  .form {
    grid-column: 2/3;
margin-left: 18.4rem;  }
  .heroimage {
    grid-column: 1/4;
  }
  .about {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .imgabout {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 9rem;
    width: 80%;
  }
  .aboutus {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 30rem;
    height: 10rem;
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 18rem;
   margin-right: 10rem;
}

  .highquality {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 50px;
    width: 20rem;
    height: 4rem;
    margin-top: 16rem;
    margin-left: 1rem;
    color: #fffcf6;
  }
  .textaboutus {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 22rem;
    margin-left: 1rem;
    width: 30rem;
    height: 2rem;
    color: #fffcf6;
  }
  .imgabout2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 50%;
    margin-top: 9rem;
    margin-left: 35rem;

  }
  .labelloft {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 27rem;
    margin-top: 1rem;
  }
    
.bigcontainer{
    width: 100%;
    height: 350.813rem;
    box-sizing: border-box;
}
  .room{
    background-color: #fffcf6;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .roomstext{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 64.75rem;
    height: 16.25rem;
    font-size: 6.5rem;
    margin-top: 4rem;
    margin-left: 2rem;
    color: #1b3b36;
  }
  .roomtext{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    margin-left: 50rem;
    margin-top: 10rem;
    color: #1b3b36;
  }
  .smallimg{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 70%;
    height: 23%;
    margin-left: 2rem;
    margin-top: 15rem;
  }
  .bigimg{
    grid-column: 2/3;
    grid-row: 2/4;
    width: 30%;
    margin-left: 47rem;
    margin-top: 9rem;
  }
  .superior{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 20rem;
    height: 3rem;
    font-size: 3rem;
    margin-top: 5.5rem;
    color: #1b3b36;
    margin-left: 6.2rem;
  }
  .superiortext{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 30rem;
    height: 6rem;
    font-size: 1.2rem;
    margin-top: 9rem;
    color: #1b3b36;
    margin-left: 6.2rem;
  }
  .cifers{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 18rem;
    width: 4rem;
    height: 2rem;
    font-size: 1.3rem;
    margin-left: 6.5rem;
  }
  .since2{
    color: black;
    font-size: 1.5rem;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid black;
    width: 15rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19rem;
    margin-left: 29rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .button3{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 2rem;
    margin-top: 9rem;
  }
  .facilities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    
    margin-top: 10rem;
    height: 187.5rem;
    box-sizing: border-box;
    clear: both;
  }
  .name{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 40rem;
    height: 35rem;
    color: #1b3b36;
    margin-left: 20rem;
  }
  .ourfaci{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 9rem;
    margin-top: 3rem;
  }
  .lities{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 9rem;
    margin-left: 25rem;  
  }
  .star2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 15rem;
  }
  .congress{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 6rem;
    color: #1b3b36;
  }
  .factext{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 20rem;
    height: 10rem;
    font-size: 1.2rem;
    margin-top: 10rem;
    color: #1b3b36;
  }
  .facimg1{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 70%;
    height: 15%;
    margin-left: 2rem;

  }
  .facimg2{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 70%;
    height: 15%;
    margin-left: 10rem;
    margin-top: 9rem;
  }
  
  .facimg3{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 70%;
    height: 40%;
    margin-left: 10rem;
  }
  .factext2{
    width: 30rem;
    height: 5rem;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 4rem;
    font-size: 1.2rem;
    color: #1b3b36;
  }
  .ice{
    margin-top: 20rem;
    width: 5rem;
    height: 8rem;
    font-size: 5rem;
    color: #1b3b36;
}
.cifer01{
    font-size: 5rem;
    color: #1b3b36;
    }
    .facbutton{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 4rem;
        height: 4rem;
        margin-left: 2rem;
    }
    .container3{
   
    background-color: #fffcf6;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1rem;
}

.hallimg{
    width: 20%;
    height: 40%;
    grid-column: 1/2;
    margin-left: 2rem;
    grid-row: 1/2;
}
.cifers02{
    width: 6rem;
    height: 5rem;
    grid-column: 2/3;
    font-size: 4rem;
    grid-row: 1/2;
    margin-left: 6rem;
    margin-top: 8.5rem;
    color: #1b3b36;
}
.halltext{
    width: 40rem;
    height: 5rem;
    font-size: 3.5rem;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 9rem;
    margin-right: 8rem;
    color: #1b3b36;
}
.wineimg{
    width: 20%;
    height: 40%; 
    grid-column: 1/2;
    margin-left: 2rem;
    grid-row: 2/3;
    margin-top: 5.5rem;
}
.cifers03{
    width: 6rem;
    height: 5rem;
    grid-column: 2/3;
    font-size: 4rem;
    grid-row: 2/3;
    margin-left: 6rem;
    margin-top: 8.5rem;
    color: #1b3b36;
}
.winetext{
    width: 40rem;
    height: 5rem;
    font-size: 3.5rem;
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: 9rem;
    margin-right: 8rem;
    color: #1b3b36;
}
.arrow-1{
    width: 5rem;
    height: 2rem;
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 9rem;
}
.arrow-2{
    width: 5rem;
    height: 2rem;
    grid-column: 4/5;
    grid-row: 2/3;
    margin-top: 9rem;
}

@media screen and (max-width:767px) {
  .body{
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width:1023) {
  .body{
    width: 100%;
  }
}