

  .header {
    background-color: rgb(197, 195, 195);
    grid-column: 1/6;
    display: grid;
    justify-content: center;
    align-items: center;
}

  .headertext {
    height: 50%;
  }
  .article {
    background-color: rgb(250, 229, 203);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

  .block {
    background-color: rgb(199, 199, 54);
    
    
  }
  .smalltext {
    height: 50%;
  }
  .block-1 {
    grid-column: 1/6;
    background-color: rgb(250, 229, 203);
  }
  .block-2{
    grid-column: 2/3;
    grid-row: 3/4;;
    width: 170%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .block-3 {
    grid-column: 4/5;
    grid-row: 3/4;
    width: 170%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .block-4 {
    display: grid;
    grid-row: 4/5;
    grid-column: 1/6;
    width: 70%;
    height: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .aside {
    background-color: rgb(116, 147, 85);
    display: grid;
    justify-content: center;
  }
  .asidetext {
    margin: 20px;
  }
  .footer {
    background-color: rgb(197, 195, 195);
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
} 

  .sectionfooter {
    background-color: rgb(239, 229, 229);
    width: 65%;
    height: 75%;
    display: grid;
    justify-content: center;
    align-items: center; 
  }
@media screen and (min-width: 1024px) {
    .footer {
        background-color: rgb(197, 195, 195);
        grid-column: 1/6;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    } 

    .container {
        background-color: bisque;
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-areas: "header header header"
        "article article aside"
        "footer footer footer";
      }
}
@media screen and (min-width: 768px) and (max-width:1023px) {
    .footer {
        background-color: rgb(197, 195, 195);
        grid-column: 1/6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    } 

    .container {
        background-color: bisque;
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-areas: "header header"
        "article aside"
        ;
      }
      }




@media screen and (max-width: 767px) {
    .footer {
        display: none;
    } 

      .article{
        height: 30vh;
      }
      .aside{
        height: 30vh;
      }
      header{
        height: 20vh;
      }

}